<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cidades</title>

    <link rel="stylesheet" href="estilos.css">

    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <h1>
            <select v-model="estado">
                <option value="">selecione seu estado</option>
                <option :value="state.id" v-for="state in estados">
                    {{ state.estado }}
                </option>
            </select>
        </h1>
        <label for="Cidades"></label>

        <select v-model="cidade">
            <option value="">Selecione sua cidade</option>
            <option value="city.id" v-for="city in cidades">
                {{ city.cidade }}</option>

    </div>

    <script src="app.js"></script>

</body>

</html>